<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AnalyticsDb" providerName="System.Data.SqlClient" connectionString="Data Source = 192.168.0.28 ;Initial Catalog = KurierAnalyticsTeste ;Persist Security Info=True;User ID = menner;Password = mennercl" />
    <add name="AnalyticsTrack" providerName="System.Data.SqlClient" connectionString="Data Source = 192.168.0.28 ;Initial Catalog = KurierAnalytics_Rastreio ;Persist Security Info=True;User ID = menner;Password = mennercl" />
  </connectionStrings>
  <appSettings>
    <add key="KurierSmtpUser" value="no-reply@kurieranalytics.com.br"/>
    <add key="KurierSmtpPassword" value="kur1er@2017!"/>
    <add key="KurierSmtpHost" value="177.234.151.90"/>
    <add key="KurierSmtpPort" value="587"/>
  </appSettings>
</configuration>